@font-face {
  font-family: 'Airbnb Cereal App';
  src: url(resources/fonts/AirbnbCereal-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  src: url(resources/fonts/AirbnbCereal-Medium.ttf);
  font-weight: medium;
}

@font-face {
  font-family: 'Airbnb Cereal App';
  src: url(resources/fonts/AirbnbCereal-Medium.ttf);
  font-weight: normal;
}

body {
  margin: 0;
  font-family: 'Airbnb Cereal App, sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}